name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 8 * * 1' # run "At 8:00 on Monday"

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          check-latest: true

      - run: go mod tidy -diff

      - run: go mod download

      - run: go mod verify

      - run: go build -o /dev/null ./...
