name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 8 * * 1' # run "At 8:00 on Monday"

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          check-latest: true

      - uses: docker/setup-buildx-action@v3

      - run: go mod tidy -diff

      - run: go mod download

      - run: go mod verify

      - run: go build -o /dev/null ./...

  docker:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5

      - uses: docker/setup-buildx-action@v3

      - run: docker build --progress=plain -t github.com/alexandear/import-gitlab-commits:ci .

      - name: Smoke test binary
        run: |
          docker run --rm github.com/alexandear/import-gitlab-commits:ci --help
