name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GOLANGCI_LINT_VERSION: v1.51.2

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: 'stable'
          check-latest: true

      - uses: golangci/golangci-lint-action@v3
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: --verbose --timeout 5m
