name: Lint
on:
  push:
    branches:
      - main
  pull_request:
env:
  GOLANGCI_LINT_VERSION: v1.51.2
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.20.x
    - run: go version
    - run: diff -u <(echo -n) <(gofmt -d .)
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
        args: --verbose
