name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          check-latest: true

      - id: golangci-lint-version
        run: |
          make gh-lint-version >> $GITHUB_OUTPUT

      - uses: golangci/golangci-lint-action@v6
        with:
          version: ${{ steps.golangci-lint-version.outputs.GOLANGCI_LINT_VERSION }}
          verify: false
          args: --verbose
