name: Security Scan

on:
  schedule:
    # Every Monday at 1PM UTC
    - cron: "0 13 * * 1"
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  vulncheck:
    name: Scan for vulnerabilities in Go code
    runs-on: ubuntu-latest
    steps:
      - name: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-package: ./...
