name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
        GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        GITLAB_BASE_URL: https://gitlab.com
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          check-latest: true

      - run: |
          go test -v -count=1 -race -shuffle=on -cover ./...

      - run: |
          go test -tags=integration -run=TestGitLab -shuffle=on -count=1 -race -v ./...
